<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Recipe Book</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/recipes']">Recipe <span class="sr-only">(current)</span></a>
      </li>
      <!-- Here we can add routerlinkactive to anchor tag as well.but that will compare exact match. URL must be /recipe only. but here we have added it to li, so that any url starting with /recipe will activate this link.  -->
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/shopping-list']">Shopping List</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto"> 
      <li class="nav-item dropdown" rbDropdown>
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" aria-haspopup="true" aria-haspopup="true" aria-expanded="false">
         User
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Login</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>