<div class="row">
	<div class="col-xs-12">
		<a class="btn btn-success" [routerLink]="['new']">New Recipe</a>
		<!-- Here we have written only new but not /new because we want to use relative path. /new will take absolute path. -->
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<ul class="list-group"> 
			<rb-recipe-item *ngFor="let recipe of recipes; let i = index" [recipe]="recipe" [recipeId]="i"></rb-recipe-item> 
			<!-- [recipe] is property of the recipe item. While "recipe" is object of recipe in recipe list component -->
		</ul>
	</div>
</div>